{% extends 'base.html' %}

{% load static %}
{% block title %}Higienização - Menu Principal{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/indexi.css' %}">
{% endblock %}

{% block content %}

<div class="card">
    <div class="text-end mb-3">
        <a href="{% url 'salas_view' %}" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>

    <div class="mb-4">
        <p class="h5">
            <span class="badge badge-setor {{ sala.setor_color }}">
                <i class="fas fa-building"></i> {{ sala.nome_setor }}
            </span>
        </p>
        <p class="h1">{{ sala.nome_sala }}</p>
    </div>

    <div class="d-grid gap-3">
        <a href="{% url 'registro_view' sala.id_sala %}" class="btn btn-primary btn-menu">
            REGISTRAR
        </a>
        <a href="{% url 'historico_view' sala.id_sala %}" class="btn btn-secondary btn-menu">
            HISTÓRICO
        </a>
    </div>
</div>
{% endblock %}