{% extends 'base.html' %}

{% load static %}
{% block title %}Sucesso{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sucesso.css' %}">
{% endblock %}

{% block content %}
<div class="card text-center">
    <h2 class="text-success">✅ Registro Inserido com Sucesso!</h2>
    <p class="mt-3">O registro de limpeza foi salvo no sistema.</p>
    <p class="mt-3">Fechando em <span class="timer" id="timer">7</span> segundos...</p>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/sucesso.js' %}"></script>
{% endblock %}